.app-container{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
}
main > div{
    width: 80%
}
.emergency-sidebar{
    width: 20%;
    height: 100%;
}